<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/cursos/crear-curso-component/new" routerLinkActive="active">Crear Curso </button>
  <button mat-menu-item routerLink="/cursos/curso-component" routerLinkActive="active">Cursos</button>
  <hr>
  <button mat-menu-item routerLink="/personas/persona/new" routerLinkActive="active">Crear Persona </button>
  <button mat-menu-item routerLink="/personas/tablaPersona" routerLinkActive="active">Personas</button>
  <hr>
  <button mat-menu-item routerLink="/personas/funciones" routerLinkActive="active">Funciones</button>
</mat-menu>


<form [formGroup]="cursoForm" (ngSubmit)=submit()>

    <mat-form-field appearance="outline">
        <mat-label>Nombre Curso</mat-label>
        <input matInput placeholder="nombre curso" type="text" formControlName="nombreCurso" >
    </mat-form-field>
<br>
    <mat-form-field appearance="outline">
        <mat-label>Profesor</mat-label>
        <input matInput placeholder="profesor" type="text" formControlName="profesor">
    </mat-form-field>
<br>
    <mat-form-field appearance="outline">
        <mat-label>Año</mat-label>
        <input matInput placeholder="anio" type="number" formControlName="anio">
    </mat-form-field>
<br>
    <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="estado" type="text" formControlName="estado">
    </mat-form-field>  
<br>
  <div>
    <button mat-raised-button color="primary" >Guardar</button>
 </div>  
 
 </form>


 <router-outlet></router-outlet>