<form [formGroup]="loginForm" (ngSubmit)=submit()>
    <mat-card style="text-align: center;">
    <h2>Login!</h2>
    <mat-form-field appearance="outline">
        <mat-label>Usuario: </mat-label>
        <input matInput placeholder="usuario" type="text" formControlName="username" >
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Contraseña: </mat-label>
        <input matInput placeholder="contraseña" type="text" formControlName="password">
    </mat-form-field>
    <br>
    <div>
      <button mat-raised-button color="primary">Ingresar</button>
   </div>
   <br>
   o
   <br>  
   <div>
    <a type="button"  [routerLink]="'/registro'" routerLinkActive="active">Registrarse</a>
 </div>  
</mat-card>


</form>