<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/cursos/crear-curso-component/new" routerLinkActive="active">Crear Curso </button>
  <button mat-menu-item routerLink="/cursos/curso-component" routerLinkActive="active">Cursos</button>
  <hr>
  <button mat-menu-item routerLink="/personas/persona/new" routerLinkActive="active">Crear Persona </button>
  <button mat-menu-item routerLink="/personas/tablaPersona" routerLinkActive="active">Personas</button>
  <hr>
  <button mat-menu-item routerLink="/personas/funciones" routerLinkActive="active">Funciones</button>
</mat-menu>

<h3>FUNCIONES</h3>
<BR>
<button type="button" mat-raised-button color="primary" (click)="funcion()">Funciones</button>

<br>

<p>Las funicones se envian por consola</p>
