<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/cursos/crear-curso-component/new" routerLinkActive="active">Crear Curso </button>
  <button mat-menu-item routerLink="/cursos/curso-component" routerLinkActive="active">Cursos</button>
  <hr>
  <button mat-menu-item routerLink="/personas/persona/new" routerLinkActive="active">Crear Persona </button>
  <button mat-menu-item routerLink="/personas/tablaPersona" routerLinkActive="active">Personas</button>
  <hr>
  <button mat-menu-item routerLink="/personas/funciones" routerLinkActive="active">Funciones</button>
</mat-menu>


<form [formGroup]="itemForm" (ngSubmit)=submit()>

    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="nombre" type="text" formControlName="nombre" >
    </mat-form-field>
<br>
    <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="apellido" type="text" formControlName="apellido">
    </mat-form-field>
<br>
    <mat-form-field appearance="outline">
        <mat-label>Edad</mat-label>
        <input matInput placeholder="edad" type="number" formControlName="edad">
    </mat-form-field>
<br>
  <div>
    <button mat-raised-button>Guardar</button>
 </div>   
<div *ngFor="let persona of personas">
    <p>Nomnre y apellido: {{persona.nombre}} {{persona.apellido}} </p>
    <p>Edad: {{persona.edad}}  </p>
    <button type="button" mat-raised-button color="primary" (click)="editarPersona(persona)">editar</button>
    <button type="button" mat-raised-button color="warn" (click)="borrarPersona(persona)">borrar</button>
</div>

</form>
